@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/*
ESTILO DEL NAVEGADOR
font-family: 'Open Sans';

Colores a utilizar
rgba(112, 184, 189,0.4) para la barra de menú
rgba(112, 184, 189,1) para el relleno 

iconos de color naranja #ff8725
*/

*{font-family: 'Open Sans';
  box-sizing: border-box;
}

/*
ESTILO DEL HEADER
Barra de navegador con opciones Planes, Información,
Afiliados y Contacto. Cada uno contiene un submenú

*/
header{background-color: #c4dfe2;  
    height: 160px;
}

/*Defino elementos como imágenes en bloque*/
.inline {display: inline-block;
}

/*Logo con entrada animada*/
header .logo {
            float:left;
            width: 160px;
            animation: bounceIn;
            animation-duration: 3s;                           
}

/* Menú navegador que empieza a la izquierda del logo*/
header nav{
    /*height: 180px;*/
    background-color: #c4dfe2;
    margin-left: 220px;
}

/* Estilo de los elementos del Menú Navegador y Menú vertical*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(112, 184, 189,0.4);
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .menu:hover .dropbtn {
    background-color: white;
  }
 
  li.menu, li.menu2, li.menu3, li.menu4 {
    display: inline-block;
  }
  
 .menu-content, .menu2-content, .menu3-content, .menu4-content{
    display: none;
    position: absolute;
    background-color: rgba(112, 184, 189,0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu-content a,  .menu2-content a,  .menu3-content a, .menu4-content a, .me {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .menu-content a:hover, .menu2-content a:hover , .menu3-content a:hover, .menu4-content a:hover  {background-color: rgba(112, 184, 189);
  }
  
  .menu:hover .menu-content, .menu2:hover .menu2-content, .menu3:hover .menu3-content,  .menu4:hover .menu4-content{
    display: block;
  }

.user{ display: flex;
  justify-content:flex-end;
}

/* Login*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  border: none;
  cursor: pointer;
  width: 120px;
 }


/* The popup form - hidden by default */
.form-popup {
  font-size: small;
  color: black;
  display: none;
  position: fixed;
  top: 8px;
  right: 8px;
  width: 300px;
  height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.form-container label{
font-weight: bold;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 10px;
  margin: 0px;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  box-sizing: border-box;
  background-color:  rgb(5, 173, 185);
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #ff8725;
}

.btn , .btn cancel {display: inline-block;
box-sizing: border-box;}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;}

/*
ESTILO DEL MAIN
Colores a utilizar
#f5f8f7
*/

/* Crear 2 columnas de anchos diferentes */
/* Columna izquierda */
.leftcolumn {   
  float: left;
  width: 15%;
  background-image: url("./images/fondo.PNG");
  background-repeat: repeat;
}

/* Columna derecha */
.rightcolumn {
  float: left;
  width: 85%;
  background-color: #f5f8f7;
  padding-left: 20px;
}
/* Limpiar espacios despues de cada columna */
.row:after {
  content: "";
  display: table;
  clear: both;
}

main{
  /*width: 100%;*/
  background-color: #f5f8f7;
}

main ul{
        background-color: rgb(112, 184, 189,0.6);
        /*height: 60px;*/
}

.box{
  margin-top: 20px;
}

.info_btn{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
}
.item{display: none;
      min-width: 100%;
      height: 800px;
    }

  /*
ESTILO DEL FOOTER
Colores a utilizar
#3b717d

*/
footer{
    text-align: center;
    color:white;
    background-color: #3b717d;}





/* Responsive - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  header{background-color: #c4dfe2;  
      height: 160px;
  }
  
  /*Defino elementos como imágenes en bloque*/
  .inline {display: inline-block;
  }

  /*Logo con entrada animada*/
  .business{ display: flex;
              justify-content:center;
              width: 100%;
              animation: bounceIn;
              animation-duration: 3s;                           
  }

  header nav{
    background-color: rgba(112, 184, 189,0.4);
    margin-left: 0px;
}
/* Estilo de los elementos del Menú Navegador y Menú vertical*/
ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(112, 184, 189,0.4);
}

.dropbtn {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu:hover .dropbtn {
  background-color: white;
}

li.menu, li.menu2, li.menu3, li.menu4 {
  display: inline-block;
  
}

.menu-content, .menu2-content, .menu3-content, .menu4-content, .hide, .user, .info_btn
{
  visibility: hidden;
}

/* Login*/
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
border: none;
cursor: pointer;
width: 120px;
}


/* The popup form - hidden by default */
.form-popup {
font-size: small;
color: black;
display: none;
position: fixed;
top: 170px;
right: 8px;
width: 100%;
height: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 9;
}

/* Add styles to the form container */
.form-container {
padding: 10px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
}

.form-container label{
font-weight: bold;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 90%;
padding: 10px;
margin: 0px;
border: none;
background: #f1f1f1;
border-radius: 5px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
box-sizing: border-box;
background-color:  rgb(5, 173, 185);
color: white;
padding: 10px 10px;
border: none;
cursor: pointer;
width: 45%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: #ff8725;
}

.btn , .btn cancel {display: inline-block;
box-sizing: border-box;}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;}

/*
ESTILO DEL MAIN
Colores a utilizar
#f5f8f7
*/

/* Crear 2 columnas de anchos diferentes */
/* Columna izquierda */
.leftcolumn {   
float: left;
width: 100%;
}

/* Columna derecha */
.rightcolumn {
float: left;
width: 100%;
background-color: #f5f8f7;
padding-left: 20px;
}
/* Limpiar espacios despues de cada columna */
.row:after {
content: "";
display: table;
clear: both;
}

main{
/*width: 100%;*/
background-image: url("./images/fondo.PNG");
background-repeat: repeat;
}
.box{
margin-top: 20px;
}

.user_menu a{
  text-align: center;
}

}

/* PARTE RESPONSIVE*/
/* Responsive - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  header{background-color: #c4dfe2;  
      height: 160px;
  }
  
  /*Defino elementos como imágenes en bloque*/
  .inline {display: inline-block;
  }

  /*Logo con entrada animada*/
  .business{ display: flex;
              justify-content:center;
              width: 100%;
              animation: bounceIn;
              animation-duration: 3s;                           
  }

  header nav{
    background-color: rgba(112, 184, 189,0.4);
    margin-left: 0px;
}
/* Estilo de los elementos del Menú Navegador y Menú vertical*/
ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(112, 184, 189,0.4);
}

.dropbtn {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu:hover .dropbtn {
  background-color: white;
}

li.menu, li.menu2, li.menu3, li.menu4 {
  display: inline-block;
  
}

.menu-content, .menu2-content, .menu3-content, .menu4-content, .hide, .user, .info_btn
{
  visibility: hidden;
}

/* Login*/
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
border: none;
cursor: pointer;
width: 120px;
}


/* The popup form - hidden by default */
.form-popup {
font-size: small;
color: black;
display: none;
position: fixed;
top: 170px;
right: 8px;
width: 100%;
height: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 9;
}

/* Add styles to the form container */
.form-container {
padding: 10px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
}

.form-container label{
font-weight: bold;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 90%;
padding: 10px;
margin: 0px;
border: none;
background: #f1f1f1;
border-radius: 5px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
box-sizing: border-box;
background-color:  rgb(5, 173, 185);
color: white;
padding: 10px 10px;
border: none;
cursor: pointer;
width: 45%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: #ff8725;
}

.btn , .btn cancel {display: inline-block;
box-sizing: border-box;}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;}

/*
ESTILO DEL MAIN
Colores a utilizar
#f5f8f7
*/

/* Crear 2 columnas de anchos diferentes */
/* Columna izquierda */
.leftcolumn {   
float: left;
width: 100%;
}

/* Columna derecha */
.rightcolumn {
float: left;
width: 100%;
background-color: #f5f8f7;
padding-left: 20px;
}
/* Limpiar espacios despues de cada columna */
.row:after {
content: "";
display: table;
clear: both;
}

main{
/*width: 100%;*/
background-image: url("./images/fondo.PNG");
background-repeat: repeat;
}
.box{
margin-top: 20px;
}

.user_menu a{
  text-align: center;
}

}

